# Functions, Scoping, Data Collections 1 & List Comprehensions

##### Using 'in' keyword

In [21]:
#in is what accesses the items in an iterable
name="Connor"

if "o" in "Connor":
    print("o")

o

##### Continue Statement

In [22]:
#continue

name2 = "Connor"

for letter in name:
    if letter == "o":
        continue
    print(letter)

C
n
n
r

##### Break Statement

In [24]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration
def my_fun:
    pass # ignore the function or stuff passed it

##### Double For Loops

In [ ]:
#while keyword, condition statement
#while loop will run based on the condition statement

##### looping 'While True'

In [ ]:
# true as a condition for while loop to run

##### While & For Loops Used Together

##### The Range Function

In [ ]:
# range(start, stop, step) - stop is required and start defaults to 0 if none is given

In [1]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
# Loop through the names list, remove white space and capitalize the first letter of each name. Print each new name.

for n in names:
    new_name=n.strip().title()
    print(new_name)

Connor
Max
Evan
Jordan

##### Declaring Lists

In [2]:
names = ["Ryan", "Tenzin", "Austin", "Dylan", "Mohammad"]

##### Indexing a List

In [9]:
print(names[0], "at index 0")
print(names[1], "at index 1")
print(names[2], "at index 2")
print(names[3], "at index 3")
print(names[4], "at index 4")
print(names[-1], "at index 4")

# List slicing
print(names[:5:2])

print(names[::-1])

Ryan at index 0
Tenzin at index 1
Austin at index 2
Dylan at index 3
Mohammad at index 4
Mohammad at index 4
['Ryan', 'Austin', 'Mohammad']
['Mohammad', 'Dylan', 'Austin', 'Tenzin', 'Ryan']

##### .append()

In [9]:
names = ["Ryan", "Tenzin", "Austin", "Dylan", "Mohammad"]
print(names)
names.append("Justin")
print(names)

['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad']
['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Justin']

##### .insert()

In [12]:
#our_list.insert(index, value)

our_list=names
our_list.insert(1,"Connor")
print(our_list)

['Ryan', 'Connor', 'Connor', 'Tenzin', 'Austin', 'Dylan', 'Mohammad']

##### .pop()

In [13]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable
our_list=names
print(our_list)
our_list.pop()
print(our_list)

other_names=names[0:2:2]
print(names)
print(other_names)

['Ryan', 'Connor', 'Connor', 'Tenzin', 'Austin', 'Dylan', 'Mohammad']
['Ryan', 'Connor', 'Connor', 'Tenzin', 'Austin', 'Dylan']
['Ryan', 'Connor', 'Connor', 'Tenzin', 'Austin', 'Dylan']
['Ryan']

##### .remove()

In [ ]:
# value to be removed, not an index

##### del()

In [ ]:
# index to be removed, not value

##### min()

In [ ]:
# return the smallest item in a list

##### max()

In [ ]:
# returns largest item in a list

##### sum()

In [ ]:
# return the sum of all numbers in a list

##### sorted()

In [ ]:
#sorted will return a new sorted list, create a new variable

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [ ]:
#.sort() will sort the original list

##### Copying a List

In [ ]:
# [:] copies a list, doesn't alter original'

##### Looping Through Lists

In [ ]:
#Two ways to loop through a list. one is by index and the other is by value, using the "in" keyword
names = ["Han Solo", "Leia Organa", "Luke Skywalker", "Lando Calrissian", "Mace Windu"]
# looping by value
for name in names:
    print(name)

##### 'in' keyword

In [ ]:
names = ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]

##### 'not in' keyword

In [ ]:
names = ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]

##### Checking an Empty List

In [1]:
l_2 = []
l_3 = None
if l_2 == []:
    print("That is an empty list. Would ya just look at it")
    
if l_3 == l_2:
    print("yes")
else: 
    print("no")

That is an empty list. Would ya just look at it
no

##### Removing Instances with a Loop

In [ ]:
#while, remove

In [21]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life

new_names = []

for name in names:
    if name not in new_names:
        new_names.append(name)

print(new_names)

list2 = [2,2,3,4,5]
list3 = ["a","b","f","e"]

# WOn't sort number and strings
list4 = [3,4,5,"e"]

list3.sort()
list2.sort()

# list4.sort()
print(list2)
print(list3)
# print(list4.sort())

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']
[2, 2, 3, 4, 5]
['a', 'b', 'e', 'f']

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

In [26]:
nums = [2, 4, 5, 6, 7, 8, 9, 10]
nums_squared = [x**2 for x in nums]

print(nums_squared)

[4, 16, 25, 36, 49, 64, 81, 100]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

##### sorted()

In [42]:
# Turns to list

tup_2=tuple(sorted(tup_1))
print(tup_2)

(1, 2, 3)

##### Adding values to a Tuple

In [43]:
# Make new tuple
tup_1 = tup_1 +(3,4,5)
print(tup_1)

(1, 2, 3, 3, 4, 5)

# Exercises

In [ ]:
# [tranform for variable in iterable]
# [tranform for variable in iterable if condition]

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [25]:
alist = [1,11,14,5,8,9]

alist.sort()

new_list=[]

# Sort instead of list comprehension for time complexity
for num in alist:
    if num < 10:
        new_list.append(num)
    else:
        break

print(new_list)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [46]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

l_combined=l_1+l_2

print(sorted(l_combined))

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

In [39]:
new_list = [x**2 for x in range(1,16)]

print(new_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>

In [20]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
#expected output = ['Amy', 'Alex']
stripped_list=[name.strip().title() for name in names_list]

# Answer with list comprehension

a_name_list = [name for name in stripped_list if len(name)>0 if name[0] == "A"]

print(a_name_list)

# Faster solution
# Sorted as a bonus =)
a_names_list =[]

for name in sorted(stripped_list):
    if len(name) > 0:
        if name[0] == "A":
            a_names_list.append(name)
        else:
            break

print(a_names_list)

['Amy', 'Alex']
['Alex', 'Amy']

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>

In [41]:
numbers_numbers = [num for num in range(2,101)]

# print(numbers)

prime_numbers=[]

for num in numbers:

    is_prime = True

    # if 2 factoral isn't a factor
    # Then all factorals passed half the number 
    # Aren't factorals. Therefore the number is a prime number
    
    half_num = int(num/2)
    
    for factoral in range(2, half_num):
        if num % factoral == 0:
            is_prime = False
            break

    if is_prime == True:
        prime_numbers.append(num)


print(prime_numbers)

[2, 3, 4, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]